@font-face {
  font-family: 'Pretendard-bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-semibold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-medium';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* 노말라이즈 */
body,
ul,
li,
h1, h2, h3, h4,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

 /* 노말라이즈 끝 */

 /* 라이브러리 */
.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-black {
  border: 1px solid #000;
}

.border-green {
  border: 1px solid green;
}

.flex {
  display: flex;
}

.con {
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
}

.img-box>img {
  width: 100%;
  display: block;
}
 /* 라이브러리 끝 */

/* 컬러칩 */
:root {
    --color-main: #FF4D4D;
    --color-background: #2E2F34;
    --color-fff: #FFF;
    --color-f0: #f0f0f0;
    --color-111: #111;
    --color-4B: #4B4B4B;
    --color-text: #555;
    --color-84: #848484;
    --color-B1: #B1B1B1;
    --color-C0: #C0C0C0;
    --color-D9: #D9D9D9;
}
/* 컬러칩 끝 */

/* 커스텀 */
html {
  font-family: 'Pretendard-Regular';
}

/* <!-- 메인페이지 시작 --> */
/* <!-- 메인페이지 끝 --> */

/* <!-- 오버뷰 시작 --> */
.sec-1 {
  height: 650px;
}

.sec-1_text-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.sec-1_text-wrap .overView {
  color: var(--color-main);
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.sec-1_text-wrap .sec-1_text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.sec-1_text-wrap .sec-1_text-box .overView_title {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-111);
}

.sec-1_text-wrap .sec-1_text-box .overView_text {
  font-size: 20px;
  font-weight: 400px;
  line-height: 26px;
  color: var(--color-text);
}

.timeline_wrap {
  overflow: hidden;
}

.create {
  transform: translateY(100%);
  opacity: 0;
}
 /* <!-- 오버뷰 끝 --> */

 /* <!-- 백그라운드 시작 --> */
  /* <!-- 백그라운드 끝 --> */

  /* <!-- 데스크 리서치 시작 --> */
  /* <!-- 데스크 리서치 끝 --> */

  /* <!-- 유저 리서치 시작 --> */
  /* <!-- 유저 리서치 끝 --> */

  /* <!-- 페르소나 시작 --> */
   /* <!-- 페르소나 끝 --> */

   /* <!-- 저니맵 시작 --> */
   /* <!-- 저니맵 끝 --> */

   /* <!-- 프로토타입 테스팅 시작 --> */
    /* <!-- 프로토타입 테스팅 끝 --> */

    /* <!-- 벤치마킹 시작 --> */
    /* <!-- 벤치마킹 끝 --> */

    /* <!-- 프로젝트 골& 솔루션 시작 --> */
    /* <!-- 프로젝트 골& 솔루션 끝 --> */

    /* <!-- 로고 소개 시작 --> */
    /* <!-- 로고 소개 끝 --> */

    /* <!-- 데스크 시스템 시작 --> */
    /* <!-- 데스크 시스템 끝 --> */

    /* <!-- 플로우차트 시작 --> */
    /* <!-- 플로우차트 끝 --> */

    /* <!-- 와이어프레임 시작 --> */
    /* <!-- 와이어프레임 끝 --> */

    /* <!-- 카테고리 초이스 시작 --> */
    /* <!-- 카테고리 초이스 끝 --> */

    /* <!-- 주문하기 시작 --> */
    /* <!-- 주문하기 끝 --> */

    /* <!-- 마이페이지 시작 --> */
    /* <!-- 마이페이지 끝 --> */

    /* <!-- 마무리 시작 --> */
    /* <!-- 마무리 끝 --> */